#charset "UTF-8";

:root {
    --cor-principal: gray;
}
p {
    color: var(--cor-principal);
}
#a {
    text-align: center;
}
.b {
    background-color: black;
    color: white;
    text-align: center;
}
